p, li, a, span, div {
font-family: var(--font-body);
color: var(--primary-color);

}

@media only screen and (min-width:38rem) {
header, main, nav, footer {
max-width: 100%; 
margin: 0 auto;
}

.footer {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
border-top: solid 5px var(--primary-color);
}

header {
grid-template-columns: 48px auto;
border-bottom:  solid 2px var(--secondary);
}

header span {
font-size: 1.5rem;
font-family: var(--font-headings);
}



.hamburger {
display: none;
}


.navigation{
display: block;

}

.navigation ul {
display: flex;  
/* justify-content: space-evenly; */
border-bottom:  solid 2px var(--secondary);  
background: var(--primary-color);
padding-top: 20px;
padding-bottom: 20px;
}

.navigation a{
display: flex;
border: none;
color: var(--background-color);
font-size: larger;
}






/* CHAMBER OF COMMERCE */
/* ----------MAIN---------- */
.empowering-vismin {
display: grid;  
grid-template-columns: 2fr 1fr;               
align-items: center;           
gap: 10px;                      
padding-bottom: 10px;      
}

.empowering-vismin .hero {
margin-right: 10px;           
}

.hero img {
max-width: 99%;
height: auto;
display: block;
padding-top: 10px;

}

.hero h1 {
font-size: 5vw;
}

/* ABOUT ME */
.about {
display: flex;
flex-direction: column;  
justify-content: center;  
gap: 0.5rem;  
padding: 0 1rem;
}

.about h2 {
width: 100%;
text-align: center;
font-size: 1.8rem;
margin: 0;  
}

.about p {
font-size: 1.5rem;
line-height: 1.6;
margin: 0;  
margin-top: 0.5rem; 
height: auto;
}


.mission-vision {
display: grid;  
grid-template-columns: 1fr 1fr;
gap: 20px;
text-align: center;
margin: 0 auto;
max-width: 100%;
}



.facilities {
margin: 0 auto;
max-width: 100%;
}

.facilities ul{
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-left: 0;
}

}
