p, li, a, span, div {
font-family: var(--font-body);
color: var(--primary-color);

}

@media only screen and (min-width:38rem) {
header, main, nav, footer {
max-width: 100%; 
margin: 0 auto;
}

.footer {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
border-top: solid 5px var(--primary-color);
}

header {
grid-template-columns: 48px auto;
border-bottom:  solid 2px var(--secondary);
}

header span {
font-size: 1.5rem;
font-family: var(--font-headings);
}



.hamburger {
display: none;
}


.navigation{
display: block;

}

.navigation ul {
display: flex;  
/* justify-content: space-evenly; */
border-bottom:  solid 2px var(--secondary);  
background: var(--primary-color);
padding-top: 20px;
padding-bottom: 20px;
}

.navigation a{
display: flex;
border: none;
color: var(--background-color);
font-size: larger;
}





/* HOME PAGE */


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers text */
    text-align: center;
    width: 640px;
    padding: 20px;
    background: var(--primary-color);
}

.hero-content h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px ;
}

.company-container h2 {
    margin-top: 50%;
}


.hero-content button {
    background: var(--primary-color);
    border-radius: 5px;
   padding: 10px 20px;
   top: 100px;
    font-size: 1rem;
    background-color: var(--background-color);
    cursor: pointer;
    color: var(--primary-color);
}

}