:root {
--background-color: #B9D6F2;
--primary-color: #061A40;
--hover: #0353A4 ;
--secondary: #003559;
--accent2: #006DAA ;  
--font-headings:'Ubuntu', sans-serif;
--font-body: 'Nunito', sans-serif;  
--special: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--font-headings);
color: var(--primary-color);
}

p, li, a, span, div, button, section {
font-family: var(--font-body);
color: var(--primary-color);
}



html, body {
background: var(--background-color);
font-family: var(--font-body);
}

header {
display: grid;
grid-template-columns:48px auto 44px;
padding: 5px 0 5px 10px;
border-bottom: 1px solid var(--accent2);
align-items: end;
column-gap: 8px;
}

header span {
font-family: var(--font-headings);
font-size: 1.5rem;
font-weight: bold;
color: var(--primary-color);
}

header img {
display: block;
width: 48px;
height: 48px; /*this Auto is making and bringing all content to the top alignment*/
padding-bottom: 3px;
}



/* *************HAMBURGER************* */
.hamburger {
background: none;
border: none;
cursor: pointer;
font-family: var(--font-headings);
}


.hamburger::after { /*walay space in between*/
content: "\2630";
font-size: 2rem;
}


.hamburger.show::after { /*walay space in between*/
content: "\00D7";

}



/* *************NAVIGATION************* */
.navigation {
display: none;
}

.navigation.show {
display: block;
}

.navigation ul {
list-style-type: none;
margin: 0;
padding: 0;
background: var(--primary-color);
}

.navigation a {
display: block;
padding: .8rem 10px;
color: var(--background-color);
font-weight: bold;
text-decoration: none;
border-bottom: solid 2px var(--secondary);

}

.navigation li:hover {
border-top: solid 2px var(--background-color);
}


.navigation li.current {
background-color: var(--accent2);
}

.navigation a:hover {
color: var(--hover);
text-decoration: underline;
}

h1 {
margin-left: 10px;
}


/* chamber project */
/* ----------MAIN---------- */

.empowering-vismin {
display: grid;  
grid-template-columns: 1fr;               
gap: 20px;                      
padding-bottom: 10px;      
}

/* Hero section */
.hero {
position: relative;
flex: 1 1 300px;              
}

.hero img {
width: 100%;
height: auto;
border-radius: 0; 
}

.hero h1 {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
align-items: center;
font-size: 10vw; /*vw is good for text responsiveness*/
text-shadow: 2px 2px 6px var(--hover);
 



}

/* About section */
.about {
flex: 1 1 300px;
}

.about h2 {
text-align: center;
font-size: 1.8rem;
}

.about p {
text-align: justify;
font-size: 1.3rem;
margin-top: -10px;
padding: 0% 10px;
}

/* Vision & Mission section */
.vismin {
flex: 1 1 300px;
}

.mission-vision {
display: grid;  
grid-template-columns:  1fr;
gap: 10px;
text-align: center;
margin: 10px auto;
max-width: 100%;
}

.mission-vision section {
background: var(--accent2);
padding: 15px;
border-radius: 8px;
gap: 20px;
margin-left: 10px;
margin-right: 10px;
}

.mission-vision section h2 {
font-size: 1.8rem;
color: var(--background-color);
}

.mission-vision section p {
font-size: 1.3rem;
margin-top: -10px;
padding: 0% 10px;
hyphens: auto;
color: var(--background-color);
justify-content: center;
text-align: left;
}


.grow {
background: var(--primary-color);
}

.grow h2 {
text-align: center;
padding-top: 15px;
font-size: 2.5rem;
color: var(--background-color);
text-shadow: var(--primary-color) 3px 3px 6px;


}

.grow p{
font-size: 1.2rem;
margin-top: -30px;
text-align: center;
padding-bottom: 15px;
color: var(--background-color);
}

/*-----GROW-LINKS----- */
.facilities ul {
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
gap: 10px;
padding-right: 10px;
padding-left: 10px;  
padding-bottom: 20px;      
}


.facilities ul li {
list-style-type: none;
background: var(--accent2);
padding: 15px;      
}

.facilities ul li a {
text-decoration: none;
color: var(--background-color);
font-size: 1.2rem;
font-weight: bold;
}




/* ************FOOTER************ */
.footer {
display: grid;
min-height: 150px;
grid-template-columns: 1fr;
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
border-top: solid 2px var(--primary-color);
}

.footer h2{
font-size: 14px;
}

footer p {
margin: 0;
padding-bottom: 10px;
color: var(--primary-color);
font-size: 14px;
}


.social {
display: flex;
justify-content: center;
column-gap: 8px;
padding-bottom: 20px;
}

.social a{
display: flex;
justify-content: center;  
align-items: center;  
width: 44px;
height: 44px;
border: var(--primary-color) solid 1px;
border-radius: 22px;
}

.social img {
width: 22px;
height: 22px;
}

.social a:hover{
background-color: var(--background-color);
}


/* /* Grid view (default) and from html*/
#members.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1rem;  
padding-right: .5rem;
padding-left: .5rem;
}

/* Styling for the Toggle Buttons Container */
.view-toggle {
text-align: center;
margin-bottom: 1rem;
}

/* Base style for all buttons */
.view-toggle button {
background: none;
border: 1px solid var(--background-color);
padding: 8px 12px;
cursor: pointer;
margin-left: 5px;
transition: background-color 0.2s, border-color 0.2s;
line-height: 0; 
}


.view-toggle button img {
width: 30px; 
height: 30px;


filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%);
transition: filter 0.2s;
}

.view-toggle button.active {
background-color: var(--primary-color); /* for changing background */
border-color: var(--secondary);
}


.view-toggle button.active img {
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
}

.member-info span { 
display: block; /*nag act as normal html*/
padding-bottom: 10px;
}

.member-card { /*target of this from js*/
border: 2px solid var(--accent2);
background: var(--background-color);
padding: 0.5rem;
display: flex;
flex-direction: column;
align-items: center;   
text-align: center; 
margin-bottom: 1rem;

}

.member-card img {
aspect-ratio: 1.5/1; /*this made the images the same height*/
width: 100%;  
max-width: 100px;
height: auto; 
}

.member-card .name {
font-weight: bold;
font-size: 1.3rem;
padding-top: .5rem;
}


#members.list .member-card {
display: block;
}

#members.list .member-card img {
display: none; /* hide image in list view */
}

#members.list .member-info  {
display: grid;
grid-template-columns:  1.3fr 1fr .9fr .5fr 1.6fr; /*this is the setting that made alignment vertically*/
text-align: left;
column-gap: 2rem;
width: 100%;
}

@media (max-width: 600px) {
#members.list { 
display: block;  
column-gap: 0;
row-gap: 15px; 
padding: 0 10px; 
}


#members.list .member-card {
display: block; 
width: 100%;
border: none;  
padding: 10px 0;
}


#members.list .member-info {
display: block; 
grid-template-columns: none; /* Disable the column alignment */
text-align: center;
border-bottom: 1px solid var(--background-color);
padding: 0;
border-bottom: 2px solid var(--primary-color);
}


#members.list .member-info span {
display: block; 
font-size: 1em;
margin: 0;
padding: 3px 0; 
}


#members.list .member-info .name {
font-weight: bold;
font-size: 1.2rem;
margin-bottom: 5px;
}
}

/* HOME PAGE*/
.hero {
    position: relative;
    width: 100%;
    height: 60vh; /* adjust as needed */
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers text */
    text-align: center;
    background: var(--background-color) ;
    width: 340px;
    padding: 20px;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-top: -20px;
    padding-top: 20px;
    color: var(--primary-color);
}

.hero-content p {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: bold;
 
}

.hero-content button {
    background: var(--primary-color);
    border-radius: 5px;
   padding: 10px 20px;
    font-size: 1rem;
    color: var(--background-color);
    cursor: pointer;
}

.hero-content button:hover {
    background: var(--hover);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.events h2{
    padding-left: 10px ;
}

/* CURRENT WEATHER */
main #weather-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    font-family: var(--font-body);
    text-align: center;
    margin: 2rem auto; /* centers the box, the margin-right/left to '0' is not working for centering */
    background-color: var(--secondary);
    width: 400px;
    color: var(--background-color);
}

main p, #current-temp, #current-wind, #current-humidity {
    color:var(--background-color);
}

#weather-container h2 {
    color: var(--background-color);
    padding-bottom: 15px;
    background: var(--primary-color);
    padding-top: 10px;
    font-size: 1.7rem;
}


#weather-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}


figcaption {
    font-weight: bold;
    text-transform: capitalize; /* capitalize the letter */
    color: var(--background-color);
    font-size: 1.5rem;
}

#forecast-container h2 {
    width: auto;
    text-align: center;
    font-size: 1.7rem;
    padding-top: 30px;
    color: var(--primary-color);
    
}

#forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;           
  flex-wrap: wrap;     
  justify-content: center;
  padding-bottom: 20px;
  margin-top: -10px;
}

.forecast-item {
  background-color: var(--primary-color);   
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: auto;              
}

.forecast-item h3 {
    color: var(--background-color);
    
}

/* 
MEMBERS SPOTLIGHT */
.company-container h2 {
    color: var(--background-color); /* dark color for visibility */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}


.company-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 1.5rem; 
    justify-content: center; 
    padding: 1rem;
    background: var(--primary-color);
}


.company-card {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    color: var(--primary-color); 
}


.company-card img {
    width: 120px;
    height: 80px;
    margin-bottom: 1rem;
}


.company-card p, 
.company-card h3, 
.company-card a {
    color: var(--primary-color); 
    text-align: center;
}


