:root {
--background-color: #B9D6F2;
--primary-color: #061A40;
--hover: #0353A4 ;
--secondary: #003559;
--accent2: #006DAA ;  
--font-headings:'Ubuntu', sans-serif;
--font-body: 'Nunito', sans-serif;  
--special: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--font-headings);
color: var(--primary-color);
}

p, li, a, span, div, button, section {
font-family: var(--font-body);
color: var(--primary-color);
}



html, body {
background: var(--background-color);
font-family: var(--font-body);
}

header {
display: grid;
grid-template-columns:48px auto 44px;
padding: 5px 0 5px 10px;
border-bottom: 1px solid var(--accent2);
align-items: end;
column-gap: 8px;
}

header span {
font-family: var(--font-headings);
font-size: 1.5rem;
font-weight: bold;
color: var(--primary-color);
}

header img {
display: block;
width: 100%;
height: auto; /*this Auto is making and bringing all content to the top alignment*/
padding-bottom: 3px;
}



/* *************HAMBURGER************* */
.hamburger {
background: none;
border: none;
cursor: pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.hamburger::after { /*walay space in between*/
content: "\2630";
font-size: 2rem;
}


.hamburger.show::after { /*walay space in between*/
content: "\00D7";

}



/* *************NAVIGATION************* */
.navigation {
display: none;
}

.navigation.show {
display: block;
}

.navigation ul {
list-style-type: none;
margin: 0;
padding: 0;
background: var(--primary-color);
}

.navigation a {
display: block;
padding: .8rem 10px;
color: var(--background-color);
font-weight: bold;
text-decoration: none;
border-bottom: solid 2px var(--secondary);

}

.navigation li:hover {
border-top: solid 2px var(--background-color);
}


.navigation li.current {
background-color: var(--accent2);
}

.navigation a:hover {
color: var(--hover);
text-decoration: underline;
}

h1 {
margin-left: 10px;
}


/* chamber project */
/* ----------MAIN---------- */


.empowering-vismin {
display: grid;  
grid-template-columns: 1fr;               
 
gap: 20px;                      
padding-bottom: 10px;      
}

/* Hero section */
.hero {
position: relative;
flex: 1 1 300px;              
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 0; 
}

.hero h1 {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
align-items: center;
font-size: 10vw; /*vw is good for text responsiveness*/
text-shadow: 2px 2px 6px var(--hover);
-webkit-text-stroke: 1px var(--background-color); /* stroke width and color */



}

/* About section */
.about {
flex: 1 1 300px;
}

.about h2 {
text-align: center;
font-size: 1.8rem;
}

.about p {
text-align: justify;
font-size: 1.3rem;
margin-top: -10px;
padding: 0% 10px;
}

/* Vision & Mission section */
.vismin {
flex: 1 1 300px;
}

.mission-vision {
display: grid;  
grid-template-columns:  1fr;
gap: 10px;
text-align: center;
margin: 10px auto;
max-width: 100%;
}

.mission-vision section {
background: var(--accent2);
padding: 15px;
border-radius: 8px;
gap: 20px;
margin-left: 10px;
margin-right: 10px;
}

.mission-vision section h2 {
font-size: 1.8rem;
color: var(--background-color);
}

.mission-vision section p {
font-size: 1.3rem;
margin-top: -10px;
padding: 0% 10px;
hyphens: auto;
color: var(--background-color);
justify-content: center;
text-align: left;
}


.grow {
background: var(--primary-color);
}

.grow h2 {
text-align: center;
padding-top: 15px;
font-size: 2.5rem;
color: var(--background-color);
text-shadow: var(--primary-color) 3px 3px 6px;


}

.grow p{
font-size: 1.2rem;
margin-top: -30px;
text-align: center;
padding-bottom: 15px;
color: var(--background-color);
}

/*-----GROW-LINKS----- */
.facilities ul {
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
gap: 10px;
padding-right: 10px;
padding-left: 10px;  
padding-bottom: 20px;      
}


.facilities ul li {
list-style-type: none;
background: var(--accent2);
padding: 15px;      
}

.facilities ul li a {
text-decoration: none;
color: var(--background-color);
font-size: 1.2rem;
font-weight: bold;
}




/* ************FOOTER************ */
.footer {
display: grid;
grid-template-columns: 1fr;
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
border-top: solid 5px var(--primary-color);
}

footer p {
margin: 0;
padding-bottom: 10px;
color: var(--primary-color);
font-size: 1rem;
}


.social {
display: flex;
justify-content: center;
column-gap: 8px;
padding-bottom: 20px;
}

.social a{
display: flex;
justify-content: center;  
align-items: center;  
width: 44px;
height: 44px;
border: black solid 1px;
border-radius: 22px;
}

.social img {
width: 22px;
height: 22px;
}

.social a:hover{
background-color: var(--background-color);
}