
:root {
    --background: #DCCDE8;
    --nav: #B37BA4;
    --mainbody: #00100B;
    --highlights: #D99AC5;
    --accent-CTA: #14BDEB;

    --font-headings: 'Cormorant Garamond', serif; 
    --font-body: 'Arimo', sans-serif;
    --site-name: 'Caramel', cursive;
}

body {
    background-color: var(--background);
}


.menu-container header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
  }

header img {
display: block;
width: 48px;
height: 48px; /*this Auto is making and bringing all content to the top alignment*/
padding: 0;
margin: 0;
padding-left: 10px;
padding-top: 10px;
}


.left-section {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 10px;
}

.site-title {
    font-size: 2.5rem;
    font-family: var(--site-name);
    font-weight: bold;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--accent-CTA);
    gap: 10px;
    margin: 0;
    padding: 0;
    text-decoration: none;

  }

  .navigation ul a {
    text-decoration: none;
    color: var(--mainbody);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    display: block;
  }

  .navigation ul a:hover {
    color: var(--background);
  }

.navigation {
    display: none;
}

.navigation.show{
  display: block;
}

.hamburger {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
cursor: pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.hamburger::after { /*walay space in between*/
    content: "\2630";
    font-size: 2rem;
}


.hamburger.show::after { /*walay space in between*/
    content: "\00D7";   
}
/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--nav);
    color: var(--background);
    margin-top: 30px;
}

footer a {
    color: var(--background);
    text-decoration: none;
    font-weight: bold;
}

footer .social img {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    padding: 10px;
}











/* HOME PAGE */
.hero-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cta {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:   #14bceb88;
    padding: 10px;
    border-radius: 10px;
}

.cta.nav-open {
    top: 62%; /* adjust depending on nav height */
}

.cta a {
    margin-top: 15px; 
    display: inline-block;  
    background-color: var(--mainbody);
    color: var(--accent-CTA);
    padding:  10px 20px;
    font-size: 1rem;
    border-radius: 10px;
}

.cta a:hover {
    background-color: var(--highlights);
    color: var(--mainbody);
    font-size: 1rem;
}

.featured-cars {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--accent-CTA);
  border-radius: 10px;
 
 }

.featured-cars .car-info {
  border: var(--mainbody) solid 2px;
  border-radius: 10px;
}

.car-container {
    border: 2px solid var(--mainbody); /* this has put border in card */
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: var(--background);
}


.featured-cars h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
}

.featured-cars #cars-container img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
 
.featured-cars #cars-container {
  display: grid;
  grid-template-columns:  1fr;
  background-color: var(--accent-CTA);
   
}

.car-info  {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
  padding-bottom: 10px;
}


.car-info span, p{
  display: block;
  padding-left: 10px;
}
.see-more-btn {
  display: block;
  width: 50%;
    margin-top: 10px;
    background-color: var(--mainbody);
    color: var(--accent-CTA);
    padding: 8px 16px;
    border-radius: 10px;
    align-self: center; /*this has centered the button*/
}

.see-more-btn:hover {
    background-color: var(--highlights);
    color: var(--mainbody);
    font-size: large;
}

.about-us h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}
.about-us {
  padding: 10px;
  margin: 10px;
  background-color: var(--mainbody);
  color: var(--background);
}

.inventory-cta {
  padding-top: 20px;
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

.inventory-cta a {
  background-color: var(--accent-CTA);
  color: var(--mainbody);
  padding: 10px 20px;
  border-radius: 10px;
}

.inventory-cta a:hover {
  background-color: var(--highlights);
  color: var(--mainbody);
  font-size: 1.6rem;
}
